%br
%h5
  New post
%br
%textarea.text-input#new-discussion{:style => "width: 50%; height: 150px;"}
%br
%br
%input.submit{:type => "submit", :value => "Save", :id => "submit-discussion", "data-league-id" => @league.id}