- if @league.standings.blank? or @league.results.blank?
  No results posted yet
- else
  - standings = @league.standings.order("standings.points desc")
  %table{:class => "race-table half"}
    %tr
      %th{:class => "first", :style => "width: 75px;"}
        Standing
      %th
        User
      %th
        Points
    - pos = 1
    - standings.each do |standing|
      %tr
        %td{:class => "first", :style => "width: 75px; text-align: center;"}
          = pos.ordinalize
        %td
          = standing.user.username
        %td
          = standing.points
      - pos += 1