%tr{"data-idx" => pos - 1}
  %td{:width => "20px", :style => "text-align: center"}
    = f.hidden_field :position, :value => pos
    = pos.ordinalize
  %td
    = f.text_field :points, :class => "text-input points-input", :size => 45
  %td
    = f.check_box '_destroy'