- last_class = ""
- last_class = "last_level" if root.children.length == 0
- content_tag :li, :id => dom_id(root), :class => last_class do
  = content_tag tag, "#{root.name}", :id => root.id
  - if root.upgrades.length > 0
    - root.upgrades.each do |upgrade|
      - if @tuning.upgrades.include?(upgrade)
        %span.upgrade
          = upgrade.name
  - if !root.leaf?
    - content_tag :ul, :class => "inner" do
      - for child in root.children.sort! {|a,b| a.name <=> b.name} do
        = render :partial => "show_upgrade_tree", :locals => {:root => child, :tag => :h5}
