#log {
  height: 300px;
  overflow: auto;
}

#app {
  position: absolute;
  bottom: 0;
  width: 50%;
  min-width: 550px;
  padding: 10px;
  border: 1px solid #232323;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #0C0C0C;
  padding: 10px;
  margin-bottom: 10px;
  behavior: url(/stylesheets/pie.htc);
}

.message {
  border: 1px solid #232323;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #0C0C0C;
  padding: 5px;
  margin-bottom: 2px;
  behavior: url(/stylesheets/pie.htc);
}

#entry {
 width: 97.9%;
}

.message-date {
  float: right;
}

#toolbar {
  margin-top: 5px;
}

#chat-panel table td {
  border: none;
}

#log-holder {
  width: 75%;
  padding: 0;
}

#user-list-holder {
  width: 38%;
  vertical-align: bottom;
  padding: 0px 0px 0px 3px;
}

#entry-holder {
  width: 75%;
}

#actions-holder {
  width: 38%;
}

#user-list-holder ul {
  list-style: none;
}

#user-list-holder ul li {
  
}

#chat-panel table {
  border-collapse:separate;
  border-spacing:0px;
  padding: 0;
}

.username-lab {
  color: #ADDFFF;
}

.join, .part {
  color: gold !important;
}

.personal {
  color: rgb(247, 93, 89);
}

#show-chat {
  position: absolute;
  bottom: 0;
  padding: 10px;
  border: 1px solid #232323;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #0C0C0C;
  padding: 10px;
  margin-bottom: 10px;
  behavior: url(/stylesheets/pie.htc);
}