dt {
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

#upgrade_tree {
  list-style: none;
  margin-top: 5px;
}

#upgrade_tree li {
  padding: 5px;
  background-color: black;
}

#upgrade_tree h4 {
  border: 1px solid #232323;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
  padding: 3px;
}

#upgrade_tree h5 {
  border: 1px solid #232323;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
  padding: 3px;
}

#upgrade_tree ul {
  list-style: none;
}

span.upgrade {
  padding: 3px;
  display: block;
}

#error_explanation {
  margin: 10px;
}

.field_with_errors {
  margin: 10px;
}

#error_explanation h2 {
  color: rgb(247, 93, 89);
  font-size: 1.3em;
}

#error_explanation ul {
  list-style: none;
}

.field_with_errors input {
  border: 1px solid rgb(247, 93, 89);
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
	width: 350px;
}

li.ui-menu-item {
  font-size: 0.7em;
}

li.ui-autocomplete-category {
  font-size: 0.8em;
}