/*
* All CSS for layout
*/


* {
  padding: 0; margin: 0;
}

body {
 font-family: Segoe UI,Arial,sans-serif;
 background: #000;
}

#wrapper { 
 margin: 0 auto;
 width: 97%;
 min-width: 1000px;
}

#header {
  width: 97%;
  padding: 10px;
  margin: 10px 0px 5px 0px;
  border: 1px solid #232323;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
}

#flash {
  width: 97%;
  border: 1px solid #232323;
  padding: 10px;
  font-size: .7em;
  margin: 0px 0px 5px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
}

#content { 
  width: 97%;
  border: 1px solid #232323;
  background: #000;
  font-size: 0.8em;
  margin: 0px 0px 5px 0px;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
}

.fieldset {
  border: 1px solid #232323;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
}

.legend {
  border: 1px solid #232323;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
}

#login-details {
  float: right;
  margin-top: 9px;
}

#logo {
  float: left;
  padding: 5px;
  font-weight: bold;
}

.clear {
  clear: both;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.third {
  width: 33%;
}

.tenth {
  width: 10%;
}

.twenty {
  width: 20%;
}

.required {
  border-left: 2px solid red !important;
}

/*----- TABLES -----*/

table {
  background-color: transparent;
  width: 100%;
  padding: 10px 0 10px 0;
}

table label {
  margin: 0;
}

td.first {
  width: 200px;
}

th,td {
  padding: 5px;
  border: 1px solid #0C0C0C;
}

td {
  background-color: #222;
}

th {
  color: #38B0DE;
  background-color: #333;
}

form p {
  margin: 20px 0px 20px 0px;
}

.hidden {
  display: none !important;
}

.discussion-item {
  border: 1px solid #232323;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #232323;
  padding: 5px;
  width: 50%;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#232323), to(#0C0C0C));
  background: -moz-linear-gradient(#232323, #0C0C0C);
  background: linear-gradient(#232323, #0C0C0C);
  -pie-background: linear-gradient(#232323, #0C0C0C);
  behavior: url(/stylesheets/pie.htc);
}