#app
  .stats
    This is a chat room is experimental at the moment.
    %a{:id => "usersLink", :href => "#"}
    are online at the moment.
  #connect.hidden
    %form{:action=>"#"}
      %fieldset
        %input{:id => "nickInput", :class => "text", :type => "hidden", :name => "nick", :value => current_user.username}
        %input{:id => "connectButton", :class => "button", :type => "submit", :name => "", :value => "Join"}
  #loading
    %p
      loading
  #log.hidden
    
  #toolbar
    %input{:tabindex =>"1", :type =>"text", :id => "entry", :class => "text-input"}
