#navigation
  %ul
    %li
      = link_to "Home", root_path
    %li
      = link_to "My Garage", "/garage"
    %li
      = link_to "Tunings", tunings_path
    %li
      = link_to "My Account", account_path
  .clear