%p
  Welcome to Gran Turismo Racing.
%p
  GTR makes organising and finding leagues a piece of cake.
%p
  This site is still being developed.  A few bugs may exist but nothing major.
%p
  If you spot anything or would like to suggest a feature email me on
  = mail_to "UberHaqer", "uberhaqer@gmail.com"